@import "bootstrap-icons/font/bootstrap-icons.css";
@import "tailwindcss";
@import "flowbite/dist/flowbite.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: rgb(209, 215, 238);
  --color-text-color: black;
  --text-28: 1.75rem;
  --gap-my: 60px;
}

.img__wrapper {
  position: relative;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-detail {
  grid-template-columns: 1fr auto;
}


@media (max-width: 676px) {
  .content-detail {
    grid-template-columns: 1fr;
  }
}

/*-----------forms-----------*/
.form__item input {
  border: black 1px solid;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  transition: 1s;
}

.form__item input:hover {
  box-shadow: 0px 0px 15px black;
  transition: 0.3s;
}

.form__item input:focus {
  outline: 1px solid black;
  outline-offset: 5px;
  transition: 0.3s;
}

.form__item input:disabled:hover,
.form__item input:disabled:focus {
  outline: none;
  box-shadow: none;
}

.form__item .form__btn {
  background-color: blueviolet;
  color: aliceblue;
}

.form__item input[type=text]:valid {
  border-color: rgb(16, 65, 172);
  background-color: rgb(214, 184, 243);
}

.form__item input[type=text]:invalid {
  border-color: rgb(38, 4, 70);
  background-color: rgb(255, 255, 255);
}

.form__item .color-radio {
  /* appearance: auto;
  accent-color: rgb(0, 0, 0);
  width: 10px;
  height: 10px; */
  display: none;
}

.color-label {
  display: block;
  width: 40px;
  height: 40px;
  border: black solid 1px;
  border-radius: 2px;
  transition: 0.3s;
}

.color-radio:checked.color-label {
  outline: gray 2px solid;
  outline-offset: 3px;
}

.filter-color {
  display: flex;
  flex-direction: row;
  gap: 10px;
}